 <div class="row justify-content-center">
             <nav class="navbar navbar-expand-lg navbar-dark nav_color shadow">

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse justify-content-sm-center" id="conteudoNavbarSuportado">
                <ul class="navbar-nav mr-auto ">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'livros_form' %}">CADASTRO DE NOVOS LIVROS</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'livros_list' %}">INICIO</a>
                  </li>
                   <li class="nav-item active">
                    <a class="nav-link" href="{% url 'livros_lan' %}">LANÇAMENTOS</a>
                  </li>
                </ul>
              </div>
            </nav>
 </div>