* {
  margin: 0 ;
  padding: 0;

}


.img_livro{

    heigth: 50vh !import;
}

.nav_color{
    background-color: #353b48 !important;
    color: #ffff !important;
    height: 50vh !import;
}

h1{
margin-left: 20
}
h5{
text-align: center
}


span{
margin-left:50
}

body{
       font-family: Arial, sans-serif;
       margin: 0;
       padding: 0;
       background-color: #f4f4f4;
}

footer{
           background-color: #333;
           color: #fff;
           padding: 20px;
           text-align: center;
           position: flex;
           bottom: 0;
           width: 100%;
           margin-top: 80% !important;
}
footer h2{
            margin: 0;
            font-size: 1.5em;
}
footer p{
            margin: 5px 0;
            font-size: 0.9em;
}
footer a{
            color: #00bcd4;
            text-decoration: none;
}
footer a:hover{
            text-decoration: underline;
}

